# Supported by proxy cloudflare, used: 80, 443, 8080
# 2052, 2082, 2086, 2095, 8880
# 2053, 2083, 2087, 2096, 8443

volumes:
  mindbloat:
  de:
  nl:
  certs:
  npm_letsencrypt:
    external: true

services:
  mindbloat:
    build:
      context: https://github.com/procrastinando/mindbloat.git#main
    image: mindbloat:latest
    container_name: mindbloat
    ports:
      - "8080:8080"
    environment:
      BOT_TOKEN: "xxx:xxxxxxxxxx"
      ADMIN: "123456789"
    volumes:
      - mindbloat:/mindbloat
      - de:/mindbloat/de
      - nl:/mindbloat/nl
    networks:
      network:
        ipv4_address: 192.168.80.2
    restart: unless-stopped

  mindbloat-de:
    build:
      context: https://github.com/MHSanaei/3x-ui.git#main
    image: 3xui:2.8.5
    container_name: mindbloat-de
    volumes:
      - de:/etc/x-ui/
      - certs:/certs
      - npm_letsencrypt:/letsencrypt
    tty: true
    environment:
      - XRAY_VMESS_AEAD_FORCED=false
      - XUI_ENABLE_FAIL2BAN=true
    ports:
      - 8443:2053 # panel
      - 8880:8880
    networks:
      network:
        ipv4_address: 192.168.80.3
    restart: unless-stopped

  mindbloat-nl:
    image: 3xui:2.8.5
    container_name: mindbloat-nl
    volumes:
      - nl:/etc/x-ui/
      - certs:/certs
      - npm_letsencrypt:/letsencrypt
    tty: true
    environment:
      - XRAY_VMESS_AEAD_FORCED=false
      - XUI_ENABLE_FAIL2BAN=true
    ports:
      - 2096:2053 # panel
      - 2095:2095
    networks:
      network:
        ipv4_address: 192.168.80.4
    restart: unless-stopped

networks:
  network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.80.0/24
