volumes:
  mindbloat:
  de:
  nl:
  gb:
  ny:
  ch:

services:
  mindbloat:
    build:
      context: https://github.com/procrastinando/mindbloat.git#main
    image: mindbloat:latest
    container_name: mindbloat
    ports:
      - 8888:8080
    environment:
      BOT_TOKEN: "xxxxxxxxxxxxxxxxxxx"
      SUBS_URL: "https://subs.domain.com"
      SUBS_PATH: "subs"
    volumes:
      - mindbloat:/mindbloat
      - de:/mindbloat/de
      - nl:/mindbloat/nl
      - gb:/mindbloat/gb
      - ny:/mindbloat/ny
      - ch:/mindbloat/ch

  mindbloat-de:
    build:
      context: https://github.com/MHSanaei/3x-ui.git#main
    image: 3xui:2.8.5
    # image: 3xui:2.8.5
    container_name: mindbloat-de
    volumes:
      - de:/etc/x-ui/
      - mindbloat:/mindbloat
    tty: true
    environment:
      - XRAY_VMESS_AEAD_FORCED=false
      - XUI_ENABLE_FAIL2BAN=true
    ports:
      - 8443:8443 # panel
      - 8880:8880

  mindbloat-nl:
    image: 3xui:2.8.5
    container_name: mindbloat-nl
    volumes:
      - nl:/etc/x-ui/
      - mindbloat:/mindbloat
    tty: true
    environment:
      - XRAY_VMESS_AEAD_FORCED=false
      - XUI_ENABLE_FAIL2BAN=true
    ports:
      - 2096:2096 # panel
      - 2095:2095

  mindbloat-gb:
    image: 3xui:2.8.5
    container_name: mindbloat-gb
    volumes:
      - gb:/etc/x-ui/
      - mindbloat:/mindbloat
    tty: true
    environment:
      - XRAY_VMESS_AEAD_FORCED=false
      - XUI_ENABLE_FAIL2BAN=true
    ports:
      - 2087:2087 # panel
      - 2086:2086

  mindbloat-ny:
    image: 3xui:2.8.5
    container_name: mindbloat-ny
    volumes:
      - ny:/etc/x-ui/
      - mindbloat:/mindbloat
    tty: true
    environment:
      - XRAY_VMESS_AEAD_FORCED=false
      - XUI_ENABLE_FAIL2BAN=true
    ports:
      - 2083:2083 # panel
      - 2082:2082

  mindbloat-ch:
    image: 3xui:2.8.5
    container_name: mindbloat-ch
    volumes:
      - ch:/etc/x-ui/
      - mindbloat:/mindbloat
    tty: true
    environment:
      - XRAY_VMESS_AEAD_FORCED=false
      - XUI_ENABLE_FAIL2BAN=true
    ports:
      - 2053:2053 # panel
      - 2052:2052

networks:
  network:
    driver: bridge